$black: #333333;
$gray: #DDDDDD;
$softGreen: #00BF5D;
$strongGreen: #009966;
$white: #ffffff;

.switch {
    border-radius: 50px;
    cursor: pointer;
    /*margin: 0 auto;*/
    max-width: 50px;
    padding: 2px;

    &.on {
        background-color: $white;
        border: 1px solid $softGreen;
        color: $softGreen;
    }

    &.off {
        background-color: $gray;
        border: 1px solid $strongGreen;
        color: $black;
    }
}



.switch-on, .switch-off {
    border-radius: 100%;
    height: 20px;
    width: 20px;
}



.switch-on {
    background-color: $softGreen;
    float: right;
}



.switch-off {
    background-color: $strongGreen;
    float: left;
}



.switch-text {
    padding: 0 3px;
}